<template>
  <b-container>
    <br />
    <b-row class="mt-5">
      <b-col cols="12" sm="12" md="1" lg="2">
        <div>
          <b-avatar src="https://placekitten.com/320/320"></b-avatar>
          <p>
            {{ fullPost.userName }}
          </p>
          <p>
            {{ userProfile.title }}
          </p>
          <b-row>
            <b-col cols="6">
              <b-button v-text="fullPost.facebook">FA</b-button>
            </b-col>
            <b-col cols="6">
              <b-button v-text="fullPost.twitter">FA</b-button>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col cols="12" sm="12" md="10" lg="8">
        <center>
          <div>
            <h2>{{ fullPost.title }}</h2>
            <br />
            <!-- <div> -->
            <b-row>
              <b-col cols="6">
                <b-list-group class="borderless">
                  <b-list-group-item
                    style="border: none !important;border-color: transparent !important;"
                    class="text-capitalize"
                  >
                    <b-avatar src="https://placekitten.com/320/320"></b-avatar>
                    {{ fullPost.userName }}
                    &nbsp;
                    {{ fullPost.createdOn | formatDate }}
                  </b-list-group-item>
                </b-list-group>
              </b-col>
              <!--  -->
              <b-col cols="6" class="pt-3">
                <b-row>
                  <b-col cols="3" class="ml-3">
                    <ShareNetwork
                      network="facebook"
                      :title="`${fullPost.content}`"
                      :description="`${fullPost.content}`"
                      :quote="`${fullPost.content}`"
                      url="https://kdm-brown.vercel.app/"
                      hashtags="yila"
                    >
                      <i class="fab fah fa-lg fa-twitter"></i>
                      <span>Fa</span>
                    </ShareNetwork>
                  </b-col>
                  <b-col cols="3">
                    <ShareNetwork
                      network="twitter"
                      :title="`${fullPost.content}`"
                      :description="`${fullPost.content}`"
                      :quote="`${fullPost.title}`"
                      url="https://kdm-brown.vercel.app/"
                      hashtags="yila"
                    >
                      <i class="fab fah fa-lg fa-twitter"></i>
                      <span>Tw</span>
                    </ShareNetwork>
                  </b-col>
                  <b-col cols="3">
                    <ShareNetwork
                      network="whatsapp"
                      :title="`${fullPost.title}`"
                      :description="`${fullPost.content}`"
                      :quote="`${fullPost.title}`"
                      url="https://kdm-brown.vercel.app/"
                      hashtags="yila"
                    >
                      <i class="fab fah fa-lg fa-twitter"></i>
                      <span>Wp</span>
                    </ShareNetwork>
                  </b-col>
                  <b-col cols="2">hw</b-col>
                </b-row>
              </b-col>
            </b-row>
            <!-- </div> -->
            <img src="/image/ts.png" style="width:100%" class="pb-5" />

            <p class="lh-lg font-monospace">{{ fullPost.content }}</p>
          </div>
        </center>
      </b-col>
      <b-col cols="12" sm="12" md="1" lg="2"> </b-col>
    </b-row>
    <div></div>
  </b-container>
</template>
<script>
import { postsCollection, commentsCollection, auth } from "../../firebase";
import {
  ShareFacebook,
  ShareTwitter,
  ShareGooglePlus,
  ShareHatena,
  ShareLine,
} from "vue-share-social";
import { mapState } from "vuex";
import Comment from "../../components/Comment.vue";
import moment from "moment";
export default {
  components: {
    Comment,
    ShareFacebook,
    ShareTwitter,
    ShareGooglePlus,
    ShareHatena,
    ShareLine,
  },
  data() {
    return {
      comments: [],
      fullPost: {},
    };
  },
  computed: {
    ...mapState(["userProfile", "posts"]),
  },
  methods: {},

  created() {
    var docRef = postsCollection.doc(this.$route.params.id);

    docRef
      .get()
      .then((doc) => {
        if (doc.exists) {
          this.fullPost = doc.data();
        } else {
          console.log("No such document!");
        }
      })
      .catch((error) => {
        console.log("Error getting document:", error);
      });
  },
  filters: {
    formatDate(val) {
      if (!val) {
        return "-";
      }

      let date = val.toDate();
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>
<style lang=""></style>
