<template lang="">
  <div>
    <h2>Getting all post</h2>
    <PostList />
  </div>
</template>
<script>
import PostList from "../../components/Post/PostList.vue";
export default {
  components: {
    PostList,
  },
};
</script>
<style lang=""></style>
