<template>
  <b-container>
    <br />
    <b-row class="mt-5">
      <b-col cols="12" sm="12" md="1" lg="2"> </b-col>
      <b-col cols="12" sm="12" md="10" lg="8">
        <center>
          <div>
            <h2 class="text-capitalize">{{ fullTestimoney.title }}</h2>
            <br />
            <p class="lh-lg font-monospace">{{ fullTestimoney.content }}</p>
          </div>
        </center>
      </b-col>
      <b-col cols="12" sm="12" md="1" lg="2"> </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { testmonysCollection } from "../../firebase";
export default {
  data() {
    return {
      fullTestimoney: {},
    };
  },

  created() {
    var docRef = testmonysCollection.doc(this.$route.params.id);

    docRef
      .get()
      .then((doc) => {
        if (doc.exists) {
          this.fullTestimoney = doc.data();
        } else {
          console.log("No such document!");
        }
      })
      .catch((error) => {
        console.log("Error getting document:", error);
      });
  },
};
</script>
<style lang=""></style>
