<template lang="">
  <div class="container">
    <h2 class="text-center">create your testmony</h2>
    <br />
    <center>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form @submit.prevent>
            <div class="mb-3">
              <input
                v-model.trim="title"
                type="text"
                class="form-control"
                id="titleInput"
                aria-describedby="nameHelp"
                placeholder="Title of the Testimoney"
                style="width:100%; height:60px"
                required
              />
            </div>
            <div class="mb-3">
              <textarea
                v-model.trim="content"
                type="text"
                class="form-control"
                id="contentInput"
                aria-describedby="nameHelp"
                placeholder="Content of the Testimoney"
                required
                style="width:100%; height:200px"
              />
            </div>
            <br />
            <button @click="create_testimoney()" class="btn btn-primary" :disabled="!content">
              Submit your testmony
            </button>
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>
    </center>
  </div>
</template>

<script>
export default {
  data() {
    return {
      content: "",
      title: "",
    };
  },
  methods: {
    create_testimoney() {
      this.$store.dispatch("createTestimoney", {
        content: this.content,
        title: this.title,
      });
      this.content = "";
      this.title = "";
    },
  },
};
</script>

<style>
#editor1,
#editor2 {
  height: 350px;
}
</style>
