<template lang="">
  <div>
    <h2>Getting all testmonies</h2>

    <Testimones getTestimonies="getTestimonies" />
  </div>
</template>
<script>
import Testimones from "../../components/Testimoney/TestimoneyList.vue";
export default {
  components: {
    Testimones,
  },
};
</script>
<style lang=""></style>
