<template>
  <!-- <b-container> -->
  <div class="">
    <h2>GetAllYouthMeetUp</h2>

    <b-row>
      <b-col cols="12" md="6" lg="6">
        <!-- <div style="background-color:red"> -->
        <b-row style="background-color:#23263b; color:white">
          <b-col cols="12" md="8" lg="8" class="p-3">
            <h2>Developer-driven standards...</h2>
            <div>
              <h4>
                Rely on robust APIs
              </h4>
              <p>
                We power 1.5T requests per year for 10K+ customers all over the world. Our APIs are
                written for performance and scalability first.
              </p>
            </div>
          </b-col>
          <b-col cols="12" md="4" lg="4" class="card2">
            <img
              src="image/card.svg"
              class="firstImage"
              alt="image_to_display"
              style="height:100px"
            />
          </b-col>
        </b-row>
      </b-col>
      <!-- second -->
      <b-col cols="12" md="6" lg="6">
        <b-row style="background-color:#f5f5fa" class="card1">
          <b-col cols="12" md="4" lg="4" class="">
            <img
              src="image/card2.svg"
              class="scondImage"
              alt="image_to_display"
              style="height:100px"
            />
          </b-col>
          <b-col cols="12" md="8" lg="8" class="">
            <h2>Developer-driven standards...</h2>
            <div>
              <h4>
                Rely on robust APIs
              </h4>
              <p>
                We power 1.5T requests per year for 10K+ customers all over the world. Our APIs are
                written for performance and scalability first.
              </p>
            </div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
  <!-- </b-container> -->
</template>

<script>
export default {};
</script>

<style scoped>
.firstImage {
  position: relative;
  transform: translate(175px);
  top: 25px;
}
.scondImage {
  position: relative;
  transform: translate(-10px);
  top: 25px;
}
</style>
