<template>
  <div>
    <div class=" ">
      <div class=" d-none d-md-block d-lg-block d-xl-block ">
        <b-navbar toggleable="sm" style="background-color:transparent; color:black">
          <!--          <nav class="navbar">-->
          <div class="container-fluid">
            <a class="navbar-brand px-5 " href="/">EmiratesQuiz</a>
            <form class="d-flex px-5">
              <div class="p-1">
                <router-link to="/">
                  <button class="btn  " style="">Home</button>
                </router-link>
              </div>
              <div class="p-1">
                <button class="btn  ">How it works</button>
              </div>
              <div class="p-1">
                <router-link to="/about">
                  <button class="btn  ">About us</button>
                </router-link>
              </div>
              <div class="p-1">
                <button class="btn  ">contact</button>
              </div>
              <div class="p-1">
                <button class="btn ">
                  <b-icon icon="Search"></b-icon>
                </button>
              </div>
              <div class="p-1">
                <router-link to="/register">
                  <button class="btn" style="background:white; color:deepskyblue">Login</button>
                </router-link>
              </div>
              <div class="p-1">
                <router-link to="/register">
                  <button class="btn  " type="submit" style="background:white; color:deepskyblue">
                    Register
                  </button>
                </router-link>
              </div>

              <!--          <div class="p-1">-->
              <!--            <button class="btn " type="submit" style="background:white; color:blue">-->
              <!--              Search-->
              <!--            </button>-->
              <!--          </div>-->
            </form>
          </div>
          <!--          </nav>-->
        </b-navbar>
      </div>
    </div>

    <!--
  __  __           _       _   _                    _
 |  \/  |   ___   | |__   (_) | |   ___    __   __ (_)   ___  __      __
 | |\/| |  / _ \  | '_ \  | | | |  / _ \   \ \ / / | |  / _ \ \ \ /\ / /
 | |  | | | (_) | | |_) | | | | | |  __/    \ V /  | | |  __/  \ V  V /
 |_|  |_|  \___/  |_.__/  |_| |_|  \___|     \_/   |_|  \___|   \_/\_/

 -->
    <!-- Mobile -->

    <div class=" d-block d-md-none d-lg-none d-xl-none text-center">
      <b-navbar toggleable="sm" style="background-color:deepskyblue">
        <b-navbar-toggle
          target="nav-text-collapse"
          style="border:none; outline:none; color:white!important;"
        ></b-navbar-toggle>
        <b-navbar-brand href="/">
          <a class="navbar-brand  text-white" href="/">EmiratesQuiz</a>
        </b-navbar-brand>

        <b-navbar-brand class="d-flex justify-content-center">
          <div class="p-1">
            <router-link to="/register">
              <button class="btn  " type="submit" style="background:white; color:deepskyblue">
                Register
              </button>
            </router-link>
          </div>
        </b-navbar-brand>
        <b-collapse id="nav-text-collapse" is-nav class="px-2">
          <b-navbar toggleable="sm" style="background-color:deepskyblue">
            <!--          <nav class="navbar">-->
            <div class="text-center">
              <form class="">
                <div class="p-1 text-left">
                  <router-link to="/">
                    <button class="btn  text-white " style="">Home</button>
                  </router-link>
                </div>
                <div class="p-1 text-left">
                  <button class="btn  text-white">How it works</button>
                </div>
                <div class="p-1 text-left">
                  <router-link to="/about">
                    <button class="btn text-white ">About us</button>
                  </router-link>
                </div>
                <div class="p-1 text-left">
                  <button class="btn  text-white">contact</button>
                </div>
                <div class="p-1 text-left">
                  <button class="btn text-white">
                    <b-icon icon="Search"></b-icon>
                  </button>
                </div>
              </form>
            </div>
            <!--          </nav>-->
          </b-navbar>
        </b-collapse>
      </b-navbar>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style scoped>
.layoutText {
  text-decoration: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: #2d383f;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.layoutText:hover {
  color: blue;
}

.linkColor {
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: #2d383f;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.linkColor:hover {
  color: blue;
  background-color: #e5f6fe;
}

.buttonx {
}
</style>
