<template>
  <div>
    <div class="backgroundImage">
      <SiteNav />
      <div class="d-flex justify-content-center">
        <div class="text-center text-white topLg topSm px-2">
          <h2 class="fontSizeTitle font-italic">Church Theme</h2>
          <h1 class="text-uppercase fontSizeBg">join the prayer</h1>
          <div class="d-none d-md-block d-lg-block d-xl-block">
            <div class="fontSizesubTitle">
              Visit your local church and become a part of the flock by contributing to
            </div>
            <div class="fontSizesubTitle">the community in any you can possibly can.</div>
          </div>

          <div class="pt-4 pb-2">
            <b-button
              class="text-uppercase pt-2 pb-2 p-3 pl-4 pr-4"
              style="background:white; color:black"
            >
              <b-icon icon="dash"></b-icon>
              see more
            </b-button>
          </div>

          <div class="pt-5 d-none d-md-none d-lg-none d-xl-block">
            <b-button style="background: transparent;border:none">
              <b-icon animation="throb" font-scale="2" icon="arrow-down-circle"></b-icon>
            </b-button>
          </div>
        </div>
      </div>

      <!--    -->
    </div>
    <!--second section-->
    <div data-aos="zoom-in" data-aos-duration="1500">
      <div class=" pt-5 pb-5 paddingXl">
        <div class="row">
          <div v-for="(item, index) in items" :key="index" class="col-md-4 cols-12 py-2">
            <router-link :to="item.to">
              <div class="card card-inverse">
                <img v-bind="mainProps" :src="item.image" alt="Card image" class="card-img" />
                <div class="card-img-overlay">
                  <p class="card-title text-center talicText pb-1 pt-5 text-white">
                    {{ item.title }}
                  </p>
                  <h1 class="card-text text-center text-white text-uppercase gfont">
                    <b>{{ item.subtitle }}</b>
                  </h1>
                </div>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <!--    third section start here-->

    <div class="pt-5 pb-5 paddingXl" data-aos="zoom-in" data-aos-duration="1500">
      <div class="text-center">
        <h1><b>OUR LATEST SERVICES</b></h1>
      </div>

      <div>
        <div class="row">
          <div v-for="(list, index) in lists" :key="index" class="col-xl-4 cols-12">
            <router-link :to="list.to" style="color:black; text-decoration:none">
              <center>
                <div>
                  <b-img :src="list.image" alt="image"></b-img>
                </div>
                <h5 class="text-uppercase pt-4 pb-3">
                  <b>{{ list.title }}</b>
                </h5>
                <p v-snip="3" class="px-md-5" style="font-weight:2">{{ list.content }}</p>
              </center>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <!--    Fourt section-->

    <!--    -->
    <div class="pt-5 pb-5" data-aos="zoom-in" data-aos-duration="1500">
      <div class="row">
        <div
          class="col-xl-7 cols-12 "
          style="position: relative; width: 100%;
    padding-right: inherit;
    padding-left: inherit;"
        >
          <div>
            <b-embed
              allowfullscreen
              aspect="16by9"
              src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
              type="iframe"
            ></b-embed>
          </div>
        </div>

        <div class="col-xl-5 cols-12 px-5" style="background:#faf6f4;   height: 530px;">
          <div style="position:relative; top:3rem">
            <div>
              <p>Where to find us</p>
            </div>
            <div>
              <h1><b>OUR WORK</b></h1>
            </div>

            <div>
              <p>
                Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt
                labore.
              </p>
            </div>

            <div>
              <div class="pt-2 pb-2">
                <b-icon icon="check-circle-fill" style="color:#c59a8e;"></b-icon> &nbsp; Eu vim
                atqui ludus petentium, suas idque est id.
              </div>
              <div class="pt-2 pb-2">
                <b-icon icon="check-circle-fill" style="color:#c59a8e;"></b-icon>
                &nbsp; Eu vim atqui ludus petentium, suas idque est id.
              </div>
              <div>
                <b-icon icon="check-circle-fill" style="color:#c59a8e;"></b-icon>
                &nbsp; Eu vim atqui ludus petentium, suas idque est id.
              </div>
            </div>

            <div>
              <div class="pt-5">
                <b-img
                  alt="image"
                  src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/08/h1-img-6.png"
                  style="width:20%"
                ></b-img>
              </div>
              <div class="pb-5">
                <div>WALTER SPENCER</div>
                <small>Lead Pastor</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    major events-->
    <div class="px-5 text-center pt-5 pb-5" data-aos="zoom-in" data-aos-duration="1500">
      <div class="text-uppercase">
        <h1><b>Our major EVENTS</b></h1>
      </div>
    </div>
    <div
      class="col-xl-12 px-xl-5 d-flex justify-content-center"
      data-aos="zoom-in"
      data-aos-duration="1500"
    >
      <div class="row pb-5">
        <div
          class="col-xl-6 col-md-12 cols-12 py-3"
          v-for="(majorEvent, index) in majorEvents"
          :key="index"
        >
          <div class="row">
            <div class="col-12 col-md-5">
              <div>
                <b-img alt="image" :src="majorEvent.image" style="width:100%"></b-img>
              </div>
            </div>
            <div class="col-12 col-md-7">
              <div style="position:relative; top: 1rem" class="">
                <small>
                  <b-icon icon="house-fill" style="color:#c59a8e;"></b-icon> &nbsp;
                  <small class="text-capitalize">yhwh ntezi,Ebonyi state, Nigeria</small>
                </small>
                <div class="pt-1 pb-2 text-capitalize" style="letter-spacing: 3px;">
                  <b>{{ majorEvent.title }}</b>
                </div>
                <p class=" text-muted">{{ majorEvent.content }}</p>
              </div>
              <div class="pt-3">
                <b-icon icon="dash"></b-icon>
                <b-button
                  size="sm"
                  class="pl-0 text-uppercase"
                  style="background:transparent; border:none;color: black"
                  >read more
                </b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    fiveth col-->

    <div class="aboutusbackgroundCover pt-5 pb-5" data-aos="zoom-in" data-aos-duration="1500">
      <div class="px-lg-5 px-xl-5 px-md-5 paddTopxlonly">
        <h1 class="px-3 pb-2"><b>MORE ABOUT US</b></h1>
        <div class="pb-3 text-muted">
          <div class="px-3">
            Dicit partem indoctum duo te, eum suas singulis omitt eu. In nec tation graecis
          </div>
          <div class="px-3 pb-2">
            vivendo, at quo illud omnesqe.
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-6">
            <div class="shadow-sm  bg-white">
              <div
                :class="visible ? null : 'collapsed'"
                :aria-expanded="visible ? 'true' : 'false'"
                aria-controls="collapse-4"
                @click="visible = !visible"
                class="text-left px-3 pt-3 pb-3 gfont"
                style="background:transparent;border:none; color:black"
              >
                SUNRISE PRAYER <span style="float:right"><b-icon icon="dash"></b-icon></span>
              </div>
              <b-collapse id="collapse-4" v-model="visible" class="mt-2 ">
                <b-card style="background:transparent;border:none; color:black">
                  <div class="text-muted">
                    Dicit partem indoctum duo te, eum suas singulis omittantur eu. In nec tation
                    graecis vivendo, at quo illud omnesque. Et sit unum reque dicam, cu mutat
                    veritus atomorum est, sed.
                  </div>
                </b-card>
              </b-collapse>
            </div>
            <!--  2nd   -->

            <div class="pt-3 pb-4">
              <div class="shadow-sm  bg-white">
                <div v-b-toggle.collapse-b class="px-3 pt-4 pb-4 gfont">
                  LIFE AND FAITH
                  <span style="float:right"><b-icon icon="plus"></b-icon></span>
                </div>
                <b-collapse id="collapse-b" class="mt-2">
                  <div class="shadow  bg-white px-3 pt-2 pb-3 text-muted">
                    Dicit partem indoctum duo te, eum suas singulis omittantur eu. In nec tation
                    graecis vivendo, at quo illud omnesque. Et sit unum reque dicam, cu mutat
                    veritus atomorum est, sed.
                  </div>
                </b-collapse>
              </div>
              <!--  third   -->
              <div class="pt-3 pb-4">
                <div class="shadow-sm  bg-white">
                  <div v-b-toggle.collapse-a class="px-3 pt-4 pb-4 gfont">
                    WEEKEND SERVICES
                    <span style="float:right"><b-icon icon="plus"></b-icon></span>
                  </div>
                  <b-collapse id="collapse-a" class="mt-2">
                    <div class="shadow  bg-white px-3 pt-2 pb-3 text-muted">
                      Dicit partem indoctum duo te, eum suas singulis omittantur eu. In nec tation
                      graecis vivendo, at quo illud omnesque. Et sit unum reque dicam, cu mutat
                      veritus atomorum est, sed.
                    </div>
                  </b-collapse>
                </div>
              </div>
            </div>
          </div>
          <!--          -->
          <div class="col-12 col-xl-6  px-xl-5">
            <div class="d-block d-md-none d-lg-none d-xl-none">
              <b-img
                style="width:100%; height:200px"
                src="https://cdn.pixabay.com/photo/2015/05/04/19/50/holding-hands-752878__340.jpg"
                alt="image"
              ></b-img>
            </div>
            <div class="d-none d-md-block d-lg-block d-xl-block">
              <b-img
                style="width:100%;height:330px"
                src="https://cdn.pixabay.com/photo/2015/05/04/19/50/holding-hands-752878__340.jpg"
                alt="image"
              ></b-img>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    Our Blog-->

    <div data-aos="zoom-in" data-aos-duration="1500">
      <!--      after make to be in sliding format-->
      <div class="container">
        <h1 class="text-center pt-5 pb-5"><b>OUR LATEST SERMONS</b></h1>
        <div class="row pb-5">
          <div class="col-12 col-md-4 col-xl-4 " v-for="i in 3" :key="i">
            <div>
              <b-img
                style="width:100%"
                src="https://cdn.pixabay.com/photo/2020/06/29/00/26/iris-5350997__340.jpg"
                alt="image"
              ></b-img>
            </div>
            <div class="pt-3" style="letter-spacing: 3px;">
              <div style=""><b>TRUE CONNECTION</b></div>
              <small class="px-1 talicText">holiday prayer</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- sixth col   -->
    <div class="pt-5 pb-5" style="background:#faf6f4;" data-aos="zoom-in" data-aos-duration="1500">
      <div class="row">
        <div
          class="col-xl-7 cols-12 "
          style="position: relative; width: 100%;
    padding-right: inherit;
    padding-left: inherit;"
        >
          <b-carousel
            id="carousel-1"
            v-model="slide"
            img-width="1024"
            img-height="700"
            style="text-shadow: 1px 1px 2px #333;"
          >
            <!-- Donate -->

            <b-img style="height:500px" src="https://picsum.photos/1024/480/?image=52"> </b-img>
          </b-carousel>
        </div>

        <div class="col-xl-5 cols-12 px-5">
          <div class="xlbackground">
            <div>
              <h1 class="gfont">MAKE A DONATION</h1>

              <p class="pt-5">
                Dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamo laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse.
              </p>
            </div>
            <div class="pt-4">
              <b-button
                href="/donation_list"
                class=" px-4 text-white text-uppercase  "
                size="lg"
                style="color: #fff;background-color: #29191a;border:none"
              >
                <b-icon icon="droplet-half"></b-icon>
                donate
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    pastors-->
    <div class="px-md-5  px-3 pt-5 pb-5" data-aos="zoom-in" data-aos-duration="1500">
      <p class="text-center talicText">visit our pastors</p>
      <h1 class="text-center pb-5" style="letter-spacing: 3px;"><b>WE BUILD HOPE</b></h1>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-3" v-for="i in 4" :key="i">
          <div>
            <b-img
              style="width:100%"
              src="https://cdn.pixabay.com/photo/2021/02/24/20/53/abstract-6047465__340.jpg"
              alt="image"
            ></b-img>
          </div>
          <div>
            <div class="text-uppercase gfont pt-3 px-md-2">david miles</div>
            <p class="talicText px-md-2">Lead pastor</p>
            <div class="text-muted px-md-2">
              Lorem ipsum dolor sit amet, co secte penatibus ullamcorp, id.
            </div>
          </div>
          <!--          for icon-->
          <div class="pb-5 pt-2">
            <span>
              <router-link to="/" class="p-2" style="color: black">
                <b-icon icon="facebook"></b-icon>
              </router-link>
              <router-link to="/" class="p-2" style="color: black">
                <b-icon icon="twitter"></b-icon>
              </router-link>
              <router-link to="/" class="p-2" style="color: black">
                <b-icon icon="telephone-plus-fill"></b-icon>
              </router-link>
            </span>
          </div>
        </div>
      </div>
    </div>

    <!--    for testmonies-->
    <div class="testimonesBacgroundImage pt-5" data-aos="zoom-in" data-aos-duration="1500">
      <div class="testimonesBacgroundIma">
        <div class="container pt-5">
          <h3 class="text-center text-capitalize">people testimones</h3>
          <!-- <br />
        <Testimones />
        <br /> -->

          <div class="row">
            <div class="col-lg-2 col-md-1 col-xs-12 col-sm-12"></div>
            <div class="col-lg-8 col-xs-12 col-sm-12 col-sm-12 col-md-10">
              <hooper :progress="true" :autoPlay="true" :playSpeed="3000">
                <slide
                  class="slider_card col-12"
                  v-for="(getTestimoney, index) in getTestimonies"
                  :key="index"
                >
                  <router-link
                    :to="`/getTestimony/${getTestimoney.id}`"
                    style="text-decoration:none"
                    class="text-dark"
                  >
                    <div>
                      <p class="text-center  text-capitalize fw-bold">
                        {{ getTestimoney.title }}
                      </p>
                      <p class="textTruck  textTruckForLargerScreen">{{ getTestimoney.content }}</p>
                      <p class="text-center text-capitalize fst-italic fw-light">
                        by: &nbsp; {{ getTestimoney.userName }}
                      </p>
                    </div>
                  </router-link>
                </slide>
                <!-- <center>
                <b-button to="/get_testimonies">veiw all testmonies</b-button>
              </center> -->
                <hooper-navigation slot="hooper-addons"></hooper-navigation>
              </hooper>
              <center>
                <!-- <b-button>hello miles</b-button> -->
              </center>
            </div>
            <div class="col-lg-2 col-md-1 col-xs-12 col-sm-12"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- location -->

    <div class="pt-5 px-md-5" data-aos="zoom-in" data-aos-duration="1500">
      <div class="row">
        <div class="col-12 col-md-12 col-xl-6 p-md-5">
          <div>
            <h1><b>MANY LOCATIONS</b></h1>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor
              incididunt labore.
            </p>
          </div>
          <div class="col-md-12">
            <div class=" card-inverse">
              <img style="width:100%" class="card-img" src="/img/map.png" alt="Card image" />
              <div class="card-img-overlay">
                <div class="row">
                  <div class="col-6 py-4">
                    <div class="">
                      <b-img
                        src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-slider-2-img-3.png"
                      ></b-img>
                    </div>
                  </div>
                  <div class="col-6 offset-md-4">
                    <div class="">
                      <b-img
                        src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-slider-2-img-3.png"
                      ></b-img>
                    </div>
                  </div>
                  <div class="col-6 offset-md-1">
                    <div class="">
                      <b-img
                        src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-slider-2-img-3.png"
                      ></b-img>
                    </div>
                  </div>
                  <div class="col-6 offset-md-3">
                    <div class="">
                      <b-img
                        src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-slider-2-img-3.png"
                      ></b-img>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-xl-6 p-md-5">
          <div>
            <b-img
              v-bind="loactionProps"
              src="/img/house.jpg"
              alt="image"
              style="width:100%"
            ></b-img>
          </div>
          <div>
            <div>
              <div class="text-uppercase  pt-3 pb-2"><b>yahweh is life assemble</b></div>
            </div>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor
              incididunt labore.
            </p>
            <p class="text-muted">
              <b-icon icon="telephone-fill" style="color:#c59a8e"></b-icon> &nbsp; +2344567890888
            </p>
            <p class="text-muted">
              <b-icon icon="geo-alt" style="color:#c59a8e"></b-icon> &nbsp; 402 park Ave, new york
            </p>
            <div class="text-muted">
              <b-icon icon="envelope-fill" style="color:#c59a8e"></b-icon> &nbsp;
              kingdavidmiles@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- pray, watch, and belive   -->
    <div class="belivebackgroundCover  pt-5" data-aos="zoom-in" data-aos-duration="1500">
      <div>
        <div class="row" style=" position:relative; top:5rem">
          <div class="col-xl-7 col-md-12 col-12"></div>
          <div class="col-xl-4 col-md-12 col-12 ">
            <h1 class="gfont">WATCH, LISTEN, BELIVE</h1>
            <p class="text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor
              incididunt labore.
            </p>
            <div>
              <button type="button" class="btn btn-outline-primary text-white">contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import SiteNav from "../components/SiteNav";
import { testmonysCollection } from "../firebase";
import { Hooper, Navigation as HooperNavigation, Slide } from "hooper";
import Footer from "../components/Footer.vue";

export default {
  name: "App",
  components: {
    Slide,
    Footer,
    Hooper,

    HooperNavigation,
    SiteNav,
  },
  data() {
    return {
      getTestimonies: [],
      slide: 0,
      sliding: null,
      visible: true,
      mainProps: { width: 100, height: 220, class: "m1" },
      loactionProps: { height: 350, class: "m1" },
      items: [
        {
          image: "https://cdn.pixabay.com/photo/2017/08/07/00/03/holy-2597774__340.jpg",

          title: "daily torah",
          subtitle: "torah portion",
          to: "/paraschat",
        },
        {
          image:
            "https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.chicagocarless.com%2Fwp-content%2Fuploads%2FYahrtzeit-Light.jpg&f=1&nofb=1",
          title: "event calender",
          subtitle: "Yahrzeit Calender",
          to: "/Yahrzeit",
        },
        {
          image: "https://cdn.pixabay.com/photo/2017/01/03/07/32/bible-1948778__340.jpg",
          title: "prayer book",
          subtitle: "Siddur",
          to: "/siddur",
        },
      ],
      lists: [
        {
          to: "/blog",
          image: "https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-img-1.png",
          title: "our blog",
          content:
            "visit our blog, connect with people ask questions and feel free to post and help others grow by answering people positively. shalom",
        },
        {
          to: "/blessing",
          image: "https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-img-2.png",
          title: "Blessing Of Items",
          content:
            "A berakhah (blessing) is a special kind of prayer that is very common in Judaism. Berakhot are recited both as part of the synagogue services and as a response or prerequisite to a wide variety of daily occurrences Berakhot are easy to recognize: they all start with the word barukh (blessed or praised).",
        },
        {
          to: "/activity",
          image: "https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-img-1.png",
          title: "Days of Activites",
          content:
            "Our days of activities is a weekly program run by yahweh is life assemble(YILLA) to keep control and enable member to stay positive and not going astrey or against the will of our father who created heaven and earth.",
        },
      ],
      majorEvents: [
        {
          image:
            "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.xYYD1StLc8Lht5OX6B4TsAHaE8%26pid%3DApi&f=1",
          title: "shabbath",
          content: "Donec quam felis, ultricies nec, pell entes que eu, pretium quis id.",
        },
        {
          image:
            "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.glcpB864_R2R7dEHgMVZNQHaE9%26pid%3DApi&f=1",
          title: "The Feast of Pesach/Passover",
          content: "Donec quam felis, ultricies nec, pell entes que eu, pretium quis id.",
        },
        {
          image:
            "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.aNEiAPKGC5Z5nUCfxpZK4AAAAA%26pid%3DApi&f=1",
          title: "The Feast of Shavout",
          content: "Donec quam felis, ultricies nec, pell entes que eu, pretium quis id.",
        },
        {
          image:
            "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.mgG2kshymnAHlYrC3G3fXAHaE8%26pid%3DApi&f=1",
          title: "The Feast of Booths (Sukkoth)",
          content: "Donec quam felis, ultricies nec, pell entes que eu, pretium quis id.",
        },
      ],
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
  },
  created: function() {
    testmonysCollection.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        let item = doc.data();
        item.id = doc.id;
        this.getTestimonies.push(item);
      });
    });
  },
};
</script>

<style>
.locationbackgroundCover {
  background-image: url(/img/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 400px;
}

.aboutusbackgroundCover {
  background-image: url("https://chapel.qodeinteractive.com/wp-content/uploads/2019/08/h1-background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
}

.row {
  display: flex !important;
  flex-wrap: wrap !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

@media (min-width: 579px) {
  .textTruckForLargerScreen {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .paddingXl {
    padding-left: 20px;
    padding-right: 20px;
  }

  .backgroundImage {
    background-image: url("https://cdn.pixabay.com/photo/2021/08/20/22/05/flowers-6561379__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 650px;
  }

  .topLg {
    position: relative;
    top: 10rem;
  }

  .fontSizeBg {
    font-size: 90px;
    font-weight: 500;
  }

  .fontSizesubTitle {
    font-size: 19px;
    font-weight: 500;
  }

  .fontSizeTitle {
    font-size: 21px;
    color: goldenrod;
  }
}

@media (min-width: 1200px) {
  .textTruckForLargerScreen {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .paddTopxlonly {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  .xlbackground {
    position: relative;
    top: 7rem;
  }
  .paddingXl {
    padding-left: 60px;
    padding-right: 60px;
  }

  .backgroundImage {
    background-image: url("https://cdn.pixabay.com/photo/2021/08/20/22/05/flowers-6561379__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 750px;
  }

  .topLg {
    position: relative;
    top: 6rem;
  }

  .fontSizeBg {
    font-size: 90px;
    font-weight: 900;
    color: white;
  }

  .fontSizesubTitle {
    font-size: 19px;
    font-weight: 600;
    color: white;
  }

  .fontSizeTitle {
    font-size: 21px;
    color: goldenrod;
    font-weight: 900;
  }
}

/*small screens*/
@media (max-width: 575.98px) {
  .textTruck {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .backgroundImage {
    background-image: url("https://cdn.pixabay.com/photo/2021/08/20/22/05/flowers-6561379__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 600px;
  }

  .topSm {
    position: relative;
    top: 10rem;
  }

  .fontSizeTitle {
    font-size: 20px;
    color: goldenrod;
  }

  .paddingXl {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.testimonesBacgroundImage {
  background-image: url(https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  /*height: 450px;*/
}
.belivebackgroundCover {
  background-image: url(https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/h1-parallax-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 450px;
}
.talicText {
  margin: 0px 0 0;
  font-family: "Noto Serif", serif;
  font-size: 13px;
  font-style: italic;
  color: #c59a8e;
  font-weight: 400;
  line-height: 25px;
}
.gfont {
  font-weight: 900;
}
</style>
