<template>
  <b-container>
    <h2 id="nav" class="text-center text-capitalize">
      you are one step to finish, by clicking the button to download as pdf file
    </h2>
    <br />
    <center>
      <b-button @click="download">Download or view calender</b-button>
    </center>
  </b-container>
</template>

<script>
export default {
  methods: {
    download() {
      window.open("/pdf/hebcal_2021.pdf");
    },
  },
};
</script>

<style scoped></style>
