<template>
  <home-layout>
    <div class="container">
      <!-- 


  _____               _                                       _           _   
 |_   _|__  _ __ __ _| |__     _ __   __ _ _ __ __ _ ___  ___| |__   __ _| |_ 
   | |/ _ \| '__/ _` | '_ \   | '_ \ / _` | '__/ _` / __|/ __| '_ \ / _` | __|
   | | (_) | | | (_| | | | |  | |_) | (_| | | | (_| \__ \ (__| | | | (_| | |_ 
   |_|\___/|_|  \__,_|_| |_|  | .__/ \__,_|_|  \__,_|___/\___|_| |_|\__,_|\__|
                              |_|                                             

       -->
      <div class="">
        <!-- <Paraschat /> -->
      </div>
      <!-- <div class="row pt-5 pb-5">
        <div class="col-lg-6 col-md-6 col-sm-6 example">
          <h2>
            Are you in search of an iOS App Development company which could amplify your market
            presence and broaden your reach to more Apple users?
          </h2>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 example">
          <div>
            <p>
              At Origami Studios, our experienced iOS app developers cater your business demands
              exclusively while following the best practices and modern techniques of iOS app
              development. By aiming a future-centric and result-driven approach you can only expect
              robust iOS apps that improve brand awareness, increase consumer base and show
              significant business growth.
            </p>
            <p>
              After performing deep research and analysis, the developed iOS applications are not
              only visually captivating but also functionally robust with engaging user-experiences
              and intuitive navigational flows.
            </p>
            <br />
            <button type="button" class="btn btn-primary smButton lgButton">Primary</button>
          </div>
        </div>
      </div> -->

      <!--  -->
      <!-- 

  _     _     _        ___   __     ___ _                     
 | |   (_)___| |_     / _ \ / _|   |_ _| |_ ___ _ __ ___  ___ 
 | |   | / __| __|   | | | | |_     | || __/ _ \ '_ ` _ \/ __|
 | |___| \__ \ |_    | |_| |  _|    | || ||  __/ | | | | \__ \
 |_____|_|___/\__|    \___/|_|     |___|\__\___|_| |_| |_|___/
                                                              


 -->

      <div class="pt-5">
        <h2 class="text-center">
          Customer-Centric iOS App Development Services
        </h2>
        <p class="text-center">
          Want to see your iOS apps topping the chart? With a diverse experience of Android app
          development,
        </p>
        <p class="text-center">Origami Studios cover various industries and niches.</p>

        <br />

        <b-row class="g-5 ">
          <b-col
            cols="12"
            lg="4"
            md="4"
            sm="12"
            v-for="(item, index) in items"
            :key="index"
            class="py-2"
          >
            <div class="p-2 d-flex align-items-center card shadow-sm" style="border:none">
              <div class="d-flex flex-column font-weight-bold card-body">
                <p
                  class="text-dark text-hover-primary mb-1  text-capitalize font-size-lg fw-bold text-center"
                >
                  {{ item.title }}
                </p>
                <center>
                  <span
                    class="d-inline-block text-truncate text-center"
                    style="max-width: 260px;"
                    >{{ item.subtitle }}</span
                  >
                </center>
              </div>
            </div>
          </b-col>
        </b-row>
        <!-- <div class="pt-5 pb-5">
          <center>
            <button type="button" class="btn btn-primary w-40">something must be done</button>
          </center>
        </div> -->
      </div>

      <!-- 

   ___                 ____  _             
  / _ \ _   _ _ __    | __ )| | ___   __ _ 
 | | | | | | | '__|   |  _ \| |/ _ \ / _` |
 | |_| | |_| | |      | |_) | | (_) | (_| |
  \___/ \__,_|_|      |____/|_|\___/ \__, |
                                     |___/ 


 -->
      <div class="pt-5 pb-5 text-center">
        <h2>
          <b> Explore some of our impressive iOS App Development projects</b>
        </h2>
      </div>

      <div class="pt-5">
        <!-- <h1 class="text-center pb-5">
          Explore some of our impressive iOS App Development projects
        </h1> -->
        <div class="row gy-5">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <img src="/image/y4.png" alt="image" style="width:100%" />
          </div>
          <div class="col-xs-12 col-md-6 col-lg-6  example2">
            <h3>
              GMDY – A digital platform for sports lovers to shop their favorite sports wear and
              connect with others
            </h3>
            <p>
              Developed an interactive iOS application using Swift and Python with multiple features
              and pixel-perfect UI
            </p>
            <br class="d-none d-md-block d-lg-block" />

            <router-link to="/get-posts">
              <button
                type="button"
                class="btn btn-primary  buttonwidth"
                id="buttonwidthsmallscreen"
              >
                Visit our blog
              </button>
            </router-link>
          </div>
        </div>
      </div>

      <!-- 

 __   __          _   _                         __                              
 \ \ / /__  _   _| |_| |__      ___ ___  _ __  / _| ___ _ __ ___ _ __   ___ ___ 
  \ V / _ \| | | | __| '_ \    / __/ _ \| '_ \| |_ / _ \ '__/ _ \ '_ \ / __/ _ \
   | | (_) | |_| | |_| | | |  | (_| (_) | | | |  _|  __/ | |  __/ | | | (_|  __/
   |_|\___/ \__,_|\__|_| |_|   \___\___/|_| |_|_|  \___|_|  \___|_| |_|\___\___|
                                                                                


 -->
      <div class="pt-5 pb-5">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12  example example2">
            <div class="col-lg-6 col-md-6 col-xs-12 ">
              <div class=" ">
                <img
                  src="/image/y5.webp"
                  alt="image"
                  class=" d-block d-lg-none"
                  style="width:100%"
                />
              </div>
            </div>
            <!--  -->
            <div class="py-4">
              <h1>Expand Your Reach by Choosing World-Class iOS App Development Services</h1>
              <br />
              <h5 class="text-sm-red">
                Elevate Your Business with Premium iOS Applications Built Using Swift & Objective C.
              </h5>
              <br />
              <button
                type="button"
                class="btn btn-primary buttonwidth "
                id="buttonwidthsmallscreen"
              >
                Youth hook-up
              </button>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 ">
            <div class=" ">
              <img src="/image/y5.webp" alt="image" class=" d-none d-lg-block" style="width:100%" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    <!-- 


  ____                            _     _                 
 |  _ \    ___    _ __     __ _  | |_  (_)   ___    _ __  
 | | | |  / _ \  | '_ \   / _` | | __| | |  / _ \  | '_ \ 
 | |_| | | (_) | | | | | | (_| | | |_  | | | (_) | | | | |
 |____/   \___/  |_| |_|  \__,_|  \__| |_|  \___/  |_| |_|
                                                          

 -->
    <div class="maintxt">
      <!--  -->
      <br class=" d-none d-lg-block" />
      <br class=" d-none d-lg-block" />
      <br class=" d-none d-lg-block" />

      <h2 class="  text-center">Donat to help the poor</h2>
      <div class="container">
        <div class="row pt-5">
          <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="dropCenter">
              <!-- hidden in  md lg ete -->
              <div class=" ">
                <img src="/image/dev.png" alt="image" class=" d-lg-none" style="width:100%" />
              </div>
              <h1 class="" id="centerTextOnSmScreen">
                We Cater all iOS Devices
              </h1>
              <p>
                Our services do not limit to only iPhone application development. Whether its a
                fitness app, gaming app or a business app, with professional iOS application
                development services, our team is geared up with the latest domain that incorporates
                all Apple devices.
              </p>
              <br />

              <button
                type="button"
                v-b-modal.modal-scrollable
                class="btn btn-primary buttonwidth"
                id="buttonwidthsmallscreen"
              >
                Make a Donate
              </button>
            </div>

            <!-- modal -->

            <div>
              <b-modal id="modal-scrollable" scrollable title="  Make a Donate">
                <p>A very big thanks to you in advance for opening this page</p>
                <p class="my-4">
                  you can donate any amount to the charity, noting is too small once is coming from
                  your heart yahweh will bless you and protect you,Thanks
                </p>
                <br />
                <b-row>
                  <b-col cols="12" sm="12" md="12" lg="12">
                    <h4 class="capitalize">Acount Number: &nbsp; 0773031353</h4>
                    <h4 class="capitalize">Bank Name: &nbsp; Access Bank</h4>
                    <h4 class="capitalize">Name: &nbsp; david miles</h4>
                    <h4 class="capitalize">phone number: &nbsp; 09039172303</h4>
                  </b-col>
                </b-row>
              </b-modal>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 ">
            <div class=" ">
              <img
                src="/image/dev.png"
                alt="image"
                class="d-none d-md-block d-lg-block"
                style="width:100%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    <!-- 

        
  ____                           _             _____              _   _                                        
 |  _ \    ___    ___    _ __   | |   ___     |_   _|   ___   ___| |_(_)  _ __ ___     ___  _ __     ___   ___ 
 | |_) |  / _ \  / _ \  | '_ \  | |  / _ \      | |    / _ \ / __| __| | | '_ ` _ \   / _ \| '_ \   / _ \ / __|
 |  __/  |  __/ | (_) | | |_) | | | |  __/      | |   |  __/ \__ \ |_| | | | | | | | | (_) | | | | |  __/ \__ \
 |_|      \___|  \___/  | .__/  |_|  \___|      |_|    \___| |___/\__|_| |_| |_| |_|  \___/|_| |_|  \___| |___/
                        |_|                                                                                    

       -->

    <div class="testimonesBacgroundIma">
      <div class="container pt-5">
        <h3 class="text-center text-capitalize">people testimones</h3>
        <!-- <br />
        <Testimones />
        <br /> -->

        <div class="row">
          <div class="col-lg-2 col-md-1 col-xs-12 col-sm-12"></div>
          <div class="col-lg-8 col-xs-12 col-sm-12 col-sm-12 col-md-10">
            <hooper :progress="true" :autoPlay="true" :playSpeed="3000">
              <slide
                class="slider_card col-12"
                v-for="(getTestimoney, index) in getTestimonies"
                :key="index"
              >
                <router-link
                  :to="`/getTestimony/${getTestimoney.id}`"
                  style="text-decoration:none"
                  class="text-dark"
                >
                  <div>
                    <p class="text-center  text-capitalize fw-bold">
                      {{ getTestimoney.title }}
                    </p>
                    <p class="textTruck  textTruckForLargerScreen">{{ getTestimoney.content }}</p>
                    <p class="text-center text-capitalize fst-italic fw-light">
                      by: &nbsp; {{ getTestimoney.userName }}
                    </p>
                  </div>
                </router-link>
              </slide>
              <!-- <center>
                <b-button to="/get_testimonies">veiw all testmonies</b-button>
              </center> -->
              <hooper-navigation slot="hooper-addons"></hooper-navigation>
            </hooper>
            <center>
              <!-- <b-button>hello miles</b-button> -->
            </center>
          </div>
          <div class="col-lg-2 col-md-1 col-xs-12 col-sm-12"></div>
        </div>
      </div>
    </div>
    <!-- 

   ___                                           _                        
  / _ \   _   _   _ __     _ __     __ _   ___  | |_    ___    _ __   ___ 
 | | | | | | | | | '__|   | '_ \   / _` | / __| | __|  / _ \  | '__| / __|
 | |_| | | |_| | | |      | |_) | | (_| | \__ \ | |_  | (_) | | |    \__ \
  \___/   \__,_| |_|      | .__/   \__,_| |___/  \__|  \___/  |_|    |___/
                          |_|                                             

     -->
    <div class="container pb-5">
      <Pastors />
    </div>
    <br />

    <!-- 


   ____                   _                    _       _   _     
  / ___|   ___    _ __   | |_    __ _    ___  | |_    | | | |___ 
 | |      / _ \  | '_ \  | __|  / _` |  / __| | __|   | | | / __|
 | |___  | (_) | | | | | | |_  | (_| | | (__  | |_    | |_| \__ \
  \____|  \___/  |_| |_|  \__|  \__,_|  \___|  \__|    \___/|___/
                                                                 

     -->

    <div class="maintxt">
      <h2 class=" text-center">Get in touch with us</h2>
      <br class="d-none d-lg-block d-md-block" />
      <br />
      <br />

      <div class="container">
        <b-row class="">
          <b-col cols="12" sm="12" md="6" lg="6">
            <div class="dropCenter">
              <h3 id="centerTextOnSmScreen">
                Have any suggestion or idea?
              </h3>
              <p>
                The floor is open to everyone that have a great idea or suggestion in oreder to make
                yahweh is life assemble growing
              </p>
            </div>
          </b-col>
          <b-col cols="12" sm="12" md="6" lg="6">
            <div class="Contact-Us ">
              <ContactUs />
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
  </home-layout>
</template>

<script>
import { testmonysCollection } from "../firebase";
import HomeLayout from "../Layout/HomeLayout.vue";
import Paraschat from "../components/Paraschat.vue";
// import HomeLayout from "../components/Layout/HomeLayout.vue"
import ContactUs from "../components/ContactUs.vue";
import Pastors from "../views/Pastors.vue";
import { Hooper, Slide, Navigation as HooperNavigation } from "hooper";
import "hooper/dist/hooper.css";
export default {
  components: {
    HomeLayout,
    Paraschat,
    Slide,
    ContactUs,
    Pastors,
    Hooper,
    Slide,
    HooperNavigation,
  },
  name: "Home",
  data() {
    return {
      getTestimonies: [],
      items: [
        {
          title: " calender",
          subtitle: "a diverse experience of Android app development",
          icon: "",
        },
        {
          title: " yahrzeit calender",
          subtitle: "a diverse experience of Android app development of Android app development",
          icon: "",
        },
        { title: " siddur", subtitle: "a diverse experience of Android app development", icon: "" },
        {
          title: "meet nigeria rabby ",
          subtitle: "a diverse experience of Android app development",
          icon: "",
        },
        {
          title: " blessing of items",
          subtitle: "a diverse experience of Android app development",
          icon: "",
        },
        {
          title: " address",
          subtitle: "a diverse experience of Android app development",
          icon: "",
        },
      ],
    };
  },
  created: function() {
    testmonysCollection.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        let item = doc.data();
        item.id = doc.id;
        this.getTestimonies.push(item);
      });
    });
  },
};
</script>

<style>
.listing {
  border-radius: 10px;
  background: linear-gradient(315deg, #ffffff, #ffffff);
  box-shadow: -13px -13px 100px #f3f3f3, 13px 13px 100px #f7f7f7;
}

.testimonesBacgroundImage {
  background-image: url(https://images.unsplash.com/photo-1530569673472-307dc017a82d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjR8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  height: 450px;
}
.maintxt {
  background-image: url(/image/bg.webp);
  background-size: cover;
}
/* for smaller screen display */

@media only screen and (max-width: 600px) {
  #buttonwidthsmallscreen {
    width: 50%;
    align-content: center;
  }
  #centerTextOnSmScreen {
    text-align: center;
  }
  .textTruck {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

/* for larg screen display */
@media only screen and (min-width: 768px) {
  .Contact-Us {
    position: relative;
    top: -70px;
  }
  .dropCenter {
    position: relative;
    top: 40px;
  }
  .buttonwidth {
    width: 40%;
  }
  .textTruckForLargerScreen {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
</style>
