<template>
  <div class="pt-5">
    <h3 class="text-center text-capitalize">king david miles</h3>

    <b-row class="gy-5">
      <b-col cols="6" sm="6" md="4" lg="3">
        <center>
          <div>
            <img src="/image/award1.webp" style="width:50%" />
            <h5 class="capitalize ">david miles</h5>
            <p class="content contentForSmallScreens">
              what did you do when people ask you some silly questions in publicCras mattis
              consectetur purus sit amet fermentum.
            </p>
            <small v-b-modal.modal-pone>Read more ..</small>
            <!-- modal -->
            <b-modal id="modal-pone" scrollable title="David miles">
              <center>
                <img src="/image/award1.webp" style="width:50%" />
              </center>

              <p class="my-4" v-for="i in 20" :key="i">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
                facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
                vestibulum at eros.
              </p>
            </b-modal>
          </div>
        </center>
      </b-col>
      <!-- seconf=d -->
      <b-col cols="6" sm="6" md="4" lg="3">
        <center>
          <div>
            <img src="/image/award1.webp" style="width:50%" />
            <h5 class="capitalize ">david miles</h5>
            <p class="content contentForSmallScreens">
              what did you do when people ask you some silly questions in publicCras mattis
              consectetur purus sit amet fermentum.
            </p>
            <small v-b-modal.modal-ptwo>Read more ..</small>
            <!-- modal -->
            <b-modal id="modal-ptwo" scrollable title="Scrollable Content">
              <center>
                <img src="/image/award1.webp" style="width:50%" />
              </center>
              <p class="my-4" v-for="i in 20" :key="i">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
                facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
                vestibulum at eros.
              </p>
            </b-modal>
          </div>
        </center>
      </b-col>

      <!-- three -->

      <b-col cols="6" sm="6" md="4" lg="3">
        <center>
          <div>
            <img src="/image/award1.webp" style="width:50%" />
            <h5 class="capitalize ">david miles</h5>
            <p class="content contentForSmallScreens">
              what did you do when people ask you some silly questions in publicCras mattis
              consectetur purus sit amet fermentum.
            </p>
            <small v-b-modal.modal-pthree>Read more ..</small>
            <!-- modal -->
            <b-modal id="modal-pthree" scrollable title="Scrollable Content">
              <center>
                <img src="/image/award1.webp" style="width:50%" />
              </center>
              <p class="my-4" v-for="i in 20" :key="i">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
                facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
                vestibulum at eros.
              </p>
            </b-modal>
          </div>
        </center>
      </b-col>

      <!-- four -->

      <b-col cols="6" sm="6" md="4" lg="3">
        <center>
          <div>
            <img src="/image/award1.webp" style="width:50%" />
            <h5 class="capitalize ">david miles</h5>
            <p class="content contentForSmallScreens">
              what did you do when people ask you some silly questions in publicCras mattis
              consectetur purus sit amet fermentum.
            </p>
            <small v-b-modal.modal-pfour>Read more ..</small>
            <!-- modal -->
            <b-modal id="modal-pfour" scrollable title="Scrollable Content">
              <center>
                <img src="/image/award1.webp" style="width:50%" />
              </center>
              <p class="my-4" v-for="i in 20" :key="i">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
                facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
                vestibulum at eros.
              </p>
            </b-modal>
          </div>
        </center>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style scoped>
@media only screen and (min-width: 768px) {
  .content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media only screen and (max-width: 600px) {
  .contentForSmallScreens {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media only screen and (min-width: 600px) {
}
</style>
