<template>
  <div class="pt-5 pb-2" style="background-color:#f8faff">
    <b-container>
      <div class="text-center">
        <h3>some text will be here</h3>
      </div>
      <b-row>
        <b-col cols="12" sm="12" md="2" lg="3"> </b-col>
        <b-col cols="12" sm="12" md="8" lg="6">
          <b-card class="pt-2 pb-2" style="background-color:gray">
            <form method="post" action="https://www.hebcal.com/yahrzeit">
              <input type="hidden" name="ref_url" value="http://www.tbala.org" />
              <input type="hidden" name="ref_text" value="Temple Beth Am" />
              <select name="t1" class="form-control">
                <option selected value="Yahrzeit">Yahrzeit</option>
                <option value="Birthday">Birthday</option>
                <option value="Anniversary">Anniversary</option>
              </select>
              <div class="form-group">
                <label for="m2" class="p-2">Month</label>
                <select name="m1" id="m1" class="form-control p-2">
                  <option selected value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="form-group">
                <label for="d1" class="p-2">Day</label>
                <input type="text" name="d1" id="d1" size="2" maxlength="2" class="form-control" />
              </div>
              <div class="form-group">
                <label for="y1" class="p-2">Year</label>
                <input type="text" name="y1" id="y1" size="4" maxlength="4" class="form-control" />
              </div>
              <div class="form-group">
                <label for="n1" class="p-2">Name</label>
                <input type="text" name="n1" id="n1" class="form-control" />
              </div>
              <div class="checkbox p-2">
                <label> <input type="checkbox" name="s1" /> After sunset </label>
              </div>
              <div class="checkbox p-2">
                <label>
                  <input type="checkbox" name="hebdate" checked /> Include Hebrew dates
                </label>
              </div>
              <div class="checkbox p-2">
                <label> <input type="checkbox" name="yizkor" /> Include Yizkor dates </label>
              </div>
              <div class="form-group">
                <label for="years" class="p-2">Number of years</label>
                <input
                  type="text"
                  name="years"
                  id="years"
                  value="20"
                  size="2"
                  maxlength="2"
                  class="form-control"
                />
              </div>
              <br />
              <!-- <input type="submit" value="Compute Calendar" /> -->
              <center>
                <b-button type="submit" value="Compute Calendar" variant="primary" class=""
                  >Compute Calendar</b-button
                >
              </center>
            </form>
          </b-card>
        </b-col>
        <b-col cols="12" sm="12" md="2" lg="3"> </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
