<template>
  <div>
    <div>
      <p>add a comment</p>
      <b-form @submit.prevent>
        <div>
          <b-form-textarea
            id="textarea"
            v-model="commentText"
            placeholder="Enter something..."
          ></b-form-textarea>
        </div>
        <b-button variant="primary" @click="addComment">Primary</b-button>
      </b-form>
    </div>
  </div>
</template>

<script>
import { commentsCollection, postsCollection, auth } from "../firebase";

export default {
  props: ["post"],
  data() {
    return {
      comment: "",
    };
  },
  methods: {
    async addComment() {
      // create comment
      await commentsCollection.add({
        createdOn: new Date(),
        content: this.comment,
        postId: this.post.id,
        userId: auth.currentUser.uid,
        userName: this.$store.state.userProfile.name,
      });

      // update comment count on post
      await postsCollection.doc(this.post.id).update({
        comments: parseInt(this.post.comments) + 1,
      });
    },
  },
};
</script>
