<template lang="">
  <div id="register">
    <h2>Contact Form</h2>
  <b-card class="pt-3 pb-3 shadow-lg" style="border:none">
      <form @submit.prevent>
        <!-- User name -->
        <div class="mb-3">
          <input
            v-model.trim="signupForm.name"
            type="text"
            class="form-control"
            id="nameInput"
            aria-describedby="nameHelp"
            placeholder="First name"
            style="width:100%; height:50px"
            required
          />
        </div>

        <div class="mb-3">
          <input
            v-model.trim="signupForm.title"
            type="text"
            class="form-control"
            id="titleInput"
            aria-describedby="nameHelp"
            placeholder="Last name"
            style="width:100%; height:50px"
            required
          />
        </div>
        <!--Email Address  -->
        
        <div class="mb-3">
          <input
            v-model.trim="signupForm.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Email Address"
            style="width:100%; height:50px"
            required
          />
        </div>

        <!-- Password -->
        <div class="mb-3 " style="height:100%">
         <b-form-textarea
      id="textarea"
      v-model.trim="signupForm.message"
      placeholder="Quickly summarize your idea and we will get back to you soon"
      rows="3"
     
        style="width:100%; height:150px"
    ></b-form-textarea>
        </div>
       
        <!--Submit button  -->

        <button
          @click="signup()"
          class="btn btn-primary w-100"
        
        >
          <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
          <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
          submit
        </button>
      </form>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      signupForm: {
        name: "",
        title: "",
        email: "",
     message:""
      },
      Loading: false,
    };
  },
  methods: {
    signup() {
      this.$store.dispatch("signup", {
        email: this.signupForm.email,
        password: this.signupForm.password,
        name: this.signupForm.name,
        title: this.signupForm.title,
      });
      this.Loading = true;

      this.signupForm.name = "";
      this.signupForm.title = "";
      (this.signupForm.email = ""), (this.signupForm.password = "");
    },
  },
};
</script>

<style>
#register {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
