<template>
  <div style="background:#faf6f4;">
    <div class="px-md-5">
      <div class="row d-flex justify-content-between"></div>
      <div class="row pt-3 ">
        <div class="col-md-8 col-6">
          <div class="row d-flex justify-content-between">
            <div class="d-flex flex-column pb-4">
              <p class="title-btm">Company</p>
              <p class="mb-0 text-muted">Privacy Policy</p>
              <p class="mb-0 text-muted">Terms and Conditions</p>
            </div>
            <div class="d-flex flex-column pb-4">
              <p class="title-btm">Information</p>
              <p class="mb-0 text-muted">
                Contact us <span class="red-text">recruit@company.com</span>
              </p>
              <p class="mb-0 text-muted">Start renting</p>
              <p class="mb-0 text-muted">Start exporting</p>
            </div>
            <div class="d-flex flex-column pb-4">
              <p class="title-btm">Site map</p>
              <p class="mb-0 text-muted">Our culture</p>
              <p class="mb-0 text-muted">Teams</p>
              <p class="mb-0 text-muted">How we recruit</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6">
          <form class="row justify-content-md-end pt-3">
            <select name="lang" class="pr-5 pl-1 mt-2">
              <option value="english">English</option>
              <option value="hindi">Hindi</option>
              <option value="german">German</option>
            </select>
          </form>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5 pt-4 footer-line">
      <div class="copy text-muted pt-1 pb-3">Company & copy 2019</div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

a {
  color: #fff;
}

a:hover {
  color: #e0e0e0;
}

.line {
  background-color: lightgrey;
  width: 50px;
  margin: 12px 7px 25px 7px;
  border-radius: 50px;
}

.box {
  width: 30%;
  padding: 30px 30px 35px 30px;
  margin-bottom: 20px;
  height: 400px;
  position: relative;
}

@media screen and (max-width: 992px) {
  .box {
    width: 48%;
  }

  .btn-pink {
    width: 150px !important;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 80%;
  }
}

.box1 {
  background-color: #e91e63;
  color: #fff;
}

.box2 {
  background-color: #5c6bc0;
  color: #fff;
}

.box3 {
  background-color: #42a5f5;
  color: #fff;
}

.fa-lightbulb-o {
  color: #e91e63;
  background-color: #fff;
  border-radius: 50%;
  font-size: 40px;
  padding: 20px 30px;
}

.btn-pink {
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  background-color: #e91e63;
  height: 50px;
  width: 180px;
}

.btn-pink:hover {
  color: #e91e63;
  background-color: #fff;
}

.btn-pink:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.sm-text {
  font-size: 14px;
}

.bottom {
  bottom: 20px;
  position: absolute;
  width: 150px;
}

.mt-large {
  margin-top: 120px;
}

.title-btm {
  font-weight: bold;
}

select {
  border: 1px solid lightgrey;
}

.red-text {
  color: red;
  cursor: pointer;
}

.red-text:hover {
  text-decoration: underline;
}

.footer-line {
  border-top: 1px solid lightgrey;
}
</style>
