<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      indicators
      background="#ababab"
      img-width="1024"
      img-height="400"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Slides with custom text -->
      <b-carousel-slide
        class="paddingTopImageforXLScreens"
        img-src="https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      >
        <div class="paddingTop text-left ">
          <div class="">
            <h1 class="textShowOnSmallScreens">
              Expand Your Reach by Choosing World-Class iOS App Development Services
            </h1>
            <br />
            <h5 class="text-sm-red textShowOnSmallScreens">
              Elevate Your Business with Premium iOS Applications Built Using Swift & Objective C.
            </h5>
            <br />
            <button type="button" class="btn btn-primary smButton lgButton">Primary</button>
          </div>
        </div>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null,
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
  },
};
</script>

<style scoped>
@media (min-width: 1400px) {
  .paddingTop {
    position: absolute;
    top: -400px;
  }

  .paddingTopImageforXLScreens {
    height: 600px;
  }
}
</style>
