<template>
  <div>
    <div class=" ">
      <div class=" d-none d-md-none d-lg-none d-xl-block ">
        <b-navbar toggleable="sm">
          <!--          <nav class="navbar">-->
          <div class="container-fluid">
            <div class="">
              <div class=" px-1">
                <b-avatar src="https://placekitten.com/300/300"></b-avatar>
                <!-- <b-img
                  class="imageClass"
                  v-bind="mainProps"
                  center
                  src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/09/divided-logo-light.png"
                  alt="Center image"
                ></b-img> -->
              </div>
            </div>
            <form class="d-flex">
              <div class=" px-3">
                <router-link to="/">
                  <button
                    class="btn  text-dark text-uppercase fontsize"
                    style=" font-size: 15px;font-weight: 900;color: #ffeadc;font-style: normal;line-height: 12px;"
                  >
                    Home
                  </button>
                </router-link>
              </div>
              <div class=" px-3">
                <button
                  id="popover-target-1"
                  class="btn  text-dark text-uppercase "
                  style=" font-size: 15px;font-weight: 900;color: #ffeadc;font-style: normal;line-height: 12px;"
                >
                  pages
                </button>
                <b-popover
                  target="popover-target-1"
                  triggers="hover"
                  placement="bottom"
                  style="width:100%!important;"
                >
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/blog" class="px-2" style=" text-decoration: none;">Visit Our Blog</a>
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/donation_list" class="px-2" style=" text-decoration: none;"
                      >Donations</a
                    >
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/paraschat" class="px-2" style=" text-decoration: none;"
                      >Weekly Torah Portion</a
                    >
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/get_testimonies" class="px-2" style=" text-decoration: none;"
                      >Testimonies</a
                    >
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/yahrzeit" class="px-2" style=" text-decoration: none;"
                      >Yahrzeit Calendar</a
                    >
                  </div>
                </b-popover>
              </div>
              <!--              donation-->
              <div class=" px-3">
                <button
                  id="donation"
                  class="btn  text-dark text-uppercase"
                  style=" font-size: 15px;font-weight: 900;color: #ffeadc;font-style: normal;line-height: 12px;"
                >
                  Donations
                </button>
                <b-popover
                  target="donation"
                  triggers="hover"
                  placement="bottom"
                  style="width:100%!important;"
                >
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/donation_list" class="px-2" style=" text-decoration: none;"
                      >DONATION LIST</a
                    >
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/donation/help_children" class="px-2" style=" text-decoration: none;"
                      >HELP THE CHILDREN</a
                    >
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="/donation/feed_the_people" class="px-2" style=" text-decoration: none;"
                      >FEED THE PEOPLE</a
                    >
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a
                      href="/donation/church_renovation"
                      class="px-2"
                      style=" text-decoration: none;"
                      >CHURCH RENOVATION</a
                    >
                  </div>
                </b-popover>
              </div>

              <!--              Event-->
              <div class=" px-3">
                <div class="">
                  <button
                    id="event"
                    class="btn  text-dark text-uppercase"
                    style=" font-size: 15px;font-weight: 900;color: #ffeadc;font-style: normal;line-height: 12px;"
                  >
                    Event
                  </button>
                  <b-popover
                    target="event"
                    triggers="hover"
                    placement="bottom"
                    style="width:100%!important;"
                  >
                    <div class=" pt-2 pb-2 linkColor">
                      <a href="#" class="px-2" style=" text-decoration: none;">Apartment</a>
                    </div>
                    <div class=" pt-2 pb-2 linkColor">
                      <a href="#" class="px-2" style=" text-decoration: none;">Villa</a>
                    </div>
                    <div class=" pt-2 pb-2 linkColor">
                      <a href="#" class="px-2" style=" text-decoration: none;">Townhouse</a>
                    </div>
                    <div class=" pt-2 pb-2 linkColor">
                      <a href="#" class="px-2" style=" text-decoration: none;">Penthouse</a>
                    </div>
                    <div class=" pt-2 pb-2 linkColor">
                      <a href="#" class="px-2" style=" text-decoration: none;">Compound</a>
                    </div>
                    <div class=" pt-2 pb-2 linkColor">
                      <a href="#" class="px-2" style=" text-decoration: none;">Duplex</a>
                    </div>
                  </b-popover>
                </div>
              </div>
              <!--              Blog-->
              <div class=" px-3">
                <button
                  id="blog"
                  class="btn  text-dark text-uppercase "
                  style=" font-size: 15px;font-weight: 900;color: #ffeadc;font-style: normal;line-height: 12px;"
                >
                  Blog
                </button>
                <b-popover
                  target="blog"
                  triggers="hover"
                  placement="bottom"
                  style="width:100%!important;"
                >
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="#" class="px-2" style=" text-decoration: none;">Apartment</a>
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="#" class="px-2" style=" text-decoration: none;">Villa</a>
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="#" class="px-2" style=" text-decoration: none;">Townhouse</a>
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="#" class="px-2" style=" text-decoration: none;">Penthouse</a>
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="#" class="px-2" style=" text-decoration: none;">Compound</a>
                  </div>
                  <div class=" pt-2 pb-2 linkColor">
                    <a href="#" class="px-2" style=" text-decoration: none;">Duplex</a>
                  </div>
                </b-popover>
              </div>
              <div class=" px-3">
                <router-link to="/register">
                  <button
                    class="btn  text-dark text-uppercase "
                    style=" font-size: 15px;font-weight: 900;color: #ffeadc;font-style: normal;line-height: 12px;"
                  >
                    Shop
                  </button>
                </router-link>
              </div>
            </form>
            <form class="d-flex px-2">
              <div class="">
                <router-link to="/register">
                  <div class="">
                    <button class="btn text-dark">
                      <b-icon icon="flower1"></b-icon>
                    </button>
                  </div>
                </router-link>
              </div>
              <div class="">
                <b-button
                  v-b-toggle.sidebar-right
                  style="border:none; background:transparent; color:black"
                >
                  <b-icon icon="justify"></b-icon>
                </b-button>
                <b-sidebar id="sidebar-right" title="Sidebar" right shadow>
                  <div class="px-3 py-2">
                    <p>
                      Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac
                      facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac,
                      vestibulum at eros.
                    </p>
                    <b-img
                      src="https://picsum.photos/500/500/?image=54"
                      fluid
                      thumbnail
                      style="width:200%"
                    >
                    </b-img>
                  </div>
                </b-sidebar>
              </div>
            </form>
          </div>
          <!--          </nav>-->
        </b-navbar>
      </div>
    </div>

    <!--
  __  __           _       _   _                    _
 |  \/  |   ___   | |__   (_) | |   ___    __   __ (_)   ___  __      __
 | |\/| |  / _ \  | '_ \  | | | |  / _ \   \ \ / / | |  / _ \ \ \ /\ / /
 | |  | | | (_) | | |_) | | | | | |  __/    \ V /  | | |  __/  \ V  V /
 |_|  |_|  \___/  |_.__/  |_| |_|  \___|     \_/   |_|  \___|   \_/\_/

 -->
    <!-- Mobile -->

    <div class=" d-block d-md-block d-lg-block d-xl-none">
      <div>
        <b-navbar toggleable variant="white">
          <b-navbar-brand href="#" style="color: black">NavBar</b-navbar-brand>

          <b-navbar-toggle target="navbar-toggle-collapse" style="color: black">
            <template #default="{ expanded }">
              <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
              <b-icon v-else icon="chevron-bar-down"></b-icon>
            </template>
          </b-navbar-toggle>

          <b-collapse id="navbar-toggle-collapse" is-nav>
            <b-navbar-nav class="ml-auto" style="color: black">
              <b-nav-item href="#" style="color: black">Link 1</b-nav-item>
              <b-nav-item href="#">Link 2</b-nav-item>
              <b-nav-item href="#" disabled>Disabled</b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mainProps: { width: 80, height: 90, class: "m1" },
    };
  },
};
</script>

<style scoped>
.navbar {
  /* position: relative; */
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  justify-content: space-between;
  /* padding: 0.5rem 1rem; */
}

.imageClass {
  position: relative;
  top: -20px;
}

.layoutText {
  text-decoration: none;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: #2d383f;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.layoutText:hover {
  color: blue;
}

.linkColor {
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: #2d383f;
  border-top: 0.2rem solid transparent;
  border-bottom: 0.2rem solid transparent;
}

.linkColor:hover {
  color: blue;
  background-color: #e5f6fe;
}

.buttonx {
}

.fontsize {
  font-size: 2px;
  font-weight: 900;
  color: #ffeadc;
  font-style: normal;
  line-height: 12px;
}
@media (min-width: 768px) {
  .backgroundHeight {
    height: 600px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .backgroundHeight {
    width: 100%;
    height: 30px;
  }
}
</style>
