<template>
  <b-container>
    <b-row>
      <b-col cols="12" sm="12" lg="8" md="8">
        <!-- :to="'/post_id/' + getTestimoney.id" -->
        <div v-for="(getTestimoney, index) in getTestimonies" :key="index" class="py-4 ">
          <router-link :to="`/getTestimony/${getTestimoney.id}`" style="text-decoration:none">
            <div class="card">
              <div class="card-body">
                <h3 class="text-capitalize" style="color:black">{{ getTestimoney.title }}</h3>
                <small class="fst-italic fw-lighter text-dark">{{
                  getTestimoney.createdOn | formatDate
                }}</small>

                <p class="card-text text-dark fw-light">
                  {{ getTestimoney.content }}
                </p>

                <b-row>
                  <b-col lg="6" cols="6">
                    <small class="text-capitalize">by: {{ getTestimoney.userName }}</small> &nbsp;
                  </b-col>
                  <!-- <b-col lg="6" cols="6">
                    <small class="text-capitalize">comments 1</small> &nbsp;
                    <small class="fst-italic fw-lighter text-dark">likes 2</small>
                  </b-col> -->
                </b-row>
              </div>
            </div>
          </router-link>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { testmonysCollection } from "../../firebase";
import moment from "moment";

export default {
  name: "Test",
  props: {
    getTestimoney: {
      type: Array,
    },
  },
  data() {
    return {
      getTestimonies: [],
    };
  },
  // created() {
  //   const gettingAllPosts = testmonysCollection.get();
  //   gettingAllPosts.forEach((doc) => {
  //     let post = doc.id;
  //     post.data = doc.data();
  //     this.getTestimonies(post);
  //   });
  // },

  created: function() {
    testmonysCollection.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        let item = doc.data();
        item.id = doc.id;
        this.getTestimonies.push(item);
      });
    });
  },

  filters: {
    formatDate(val) {
      if (!val) {
        return "-";
      }

      let date = val.toDate();
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>
