<template>
  <b-container>
    <b-row>
      <b-col cols="12" sm="12" lg="8" md="8">
        <h5 class="card-title">hello post</h5>
        <!-- :to="'/post_id/' + post.id" -->
        <div v-for="(post, index) in posts" :key="index" class="py-4 ">
          <div
            class="card shadow-lg"
            style="width:50%;height:30px;border:none ; border-radius: 10px 10px 0px 0px; z-index:-1; position:relative; top:10px"
          >
            <small class="fst-italic fw-lighter text-dark px-3">{{
              post.createdOn | formatDate
            }}</small>
          </div>
          <div class="card shadow" style="border:none; border-radius:10px">
            <div class="card-body">
              <h3 class="text-capitalize" style="color:black">{{ post.title }}</h3>

              <router-link :to="`/getpost/${post.id}`" style="text-decoration:none">
                <p class="card-text text-dark fw-light">
                  {{ post.content }}
                </p>
              </router-link>
              <b-row>
                <b-col lg="6" cols="6">
                  <small class="text-capitalize">by: {{ post.userName }}</small> &nbsp;
                </b-col>
                <b-col lg="6" cols="6">
                  <small class="text-capitalize">comments 1</small> &nbsp;
                  <b-button @click="likePost(post.id)">likes {{ post.likesCount || 0 }}</b-button>
                </b-col>
              </b-row>
            </div>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import { postsCollection } from "../../firebase";
import { likesCollection } from "../../firebase";
import * as fb from "../../firebase";
import moment from "moment";
// import {mapState} from vuex

export default {
  name: "PostList",
  data() {
    return {
      posts: [],
      // likesCount: 0,
    };
  },
  // computed: {
  //   ...mapState(["userProfile"]),
  // },
  mounted() {
    postsCollection.get().then((snapshot) => {
      snapshot.forEach((doc) => {
        this.posts.push({ id: doc.id, ...doc.data() });
      });
    });
  },

  methods: {
    async likePost(postId) {
      const userId = fb.auth.currentUser.uid;

      // check if user has liked post
      const likesRef = await fb.likesCollection.doc(userId).get();
      const prevPostRef = await fb.postsCollection.doc(postId).get();

      if (likesRef.exists || prevPostRef.exists) {
        return;
      }

      const postObj = this.posts.find((p) => p.id === postId);
      postObj.likesCount += 1;
      await this.$store.dispatch("likePost", { postId });
      // window.location.reload();
    },
  },
  filters: {
    formatDate(val) {
      if (!val) {
        return "-";
      }

      let date = val.toDate();
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>
