<template>
  <div>
    <PageLayout />
    <div class="imagebackground">
      <div class=" texttranform">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h1 class="card-text text-center">
            <b> HELP THE CHILDREN</b>
          </h1>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="container-fluid  pb-5">
      <h1 class="text-center pt-5 pb-5"><b>MAKE А CONTRIBUTION</b></h1>

      <div>
        <div class="row px-xl-5 ">
          <div class="col-md-4 px-md-4 py-3" v-for="(item, index) in items" :key="index">
            <div class="card card-inverse">
              <img
                class="card-img"
                src="http://selvaraj.me/codepen/images/hover-1.jpg"
                alt="Card image"
              />
              <div class="card-img-overlay">
                <center>
                  <div class="buttonClass">
                    <router-link :to="item.to">
                      <b-button
                        style="background:#29191a; border:none"
                        class="card-title text-uppercase pl-4 pr-4 pt-2 pb-2"
                        >Donate now</b-button
                      >
                    </router-link>
                  </div>
                </center>
              </div>
            </div>
            <div>
              <div class="pt-3 pb-2 talicText">Donation &nbsp;{{ item.option }}</div>
              <p>
                <b>{{ item.title }}</b>
              </p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc
            </div>
            <hr />

            <div class="row">
              <div class="col-6 text-left">
                <div>
                  <b style="color:#29191a;">RAISED :</b> <span class="talicText2">$8,700</span>
                </div>
              </div>
              <div class="col-6 text-right">
                <div>
                  <b style="color:#29191a;">GOAL :</b> <span class="talicText2">$8,700</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import PageLayout from "../../components/PageLayout.vue";
import Footer from "../../components/Footer.vue";
export default {
  components: {
    PageLayout,
    Footer,
  },
  data() {
    return {
      items: [
        { title: "HELP THE CHILDREN", option: "people", to: "/donation/feed_the_people" },
        { title: "FEED THE PEOPLE", option: "people" },
        { title: "CHURCH RENOVATION", option: "people" },
      ],
    };
  },
};
</script>

<style scoped>
.imagebackground {
  background-image: url("https://cdn.pixabay.com/photo/2021/08/27/10/16/baby-6578335__340.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
}
@media (min-width: 992px) {
  .texttranform {
    position: relative;
    top: 10rem;
  }
}
@media (min-width: 360px) {
  .texttranform {
    position: relative;
    top: 12rem;
  }
}
.buttonClass {
  position: absolute;
  bottom: -11px;
  transform: translate(50px);
}
@media (min-width: 1200px) {
  .buttonClass {
    position: absolute;
    bottom: -11px;
    transform: translate(110px);
  }
}
.talicText {
  margin: 0px 0 0;
  font-family: "Noto Serif", serif;
  font-size: 13px;
  font-style: italic;
  color: #c59a8e;
  font-weight: 400;
  line-height: 25px;
}
.talicText2 {
  margin: 0px 0 0;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-style: italic;
  color: #c59a8e;
  font-weight: 400;
  line-height: 25px;
}
</style>
