<template lang="">
  <div id="login">
    <h2>Login</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form @submit.prevent="loginUser" class="login-child">
            <!--Email Address  -->
            <div class="mb-3">
              <input
                v-model="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Address"
                style="width:100%; height:50px"
                required
              />
            </div>

            <!-- Password -->
            <div class="mb-3 " style="height:100%">
              <input
                v-model="password"
                type="password"
                class="form-control "
                id="exampleInputPassword1"
                placeholder="Password"
                style="width:100%; height:50px"
                required
              />
            </div>

            <div class="row">
              <div class="col">
                <a href="/register" style="text-decoration:none">Don't have an account?</a>
              </div>
              <div class="col">
                <a href="/password-reset" style="text-decoration:none">Forget password?</a>
              </div>
            </div>
            <!-- <div>
              <a href="/register">already have an account?</a>
              <a>hello</a>
            </div> -->
            <!--Submit button  -->
            <button type="submit" class="btn btn-primary w-100" :disabled="!email || !password">
              <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
              <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
              Submit
            </button>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: "Login",
  data() {
    return {
      email: "",
      password: "",
      Loading: false,
    };
  },
  methods: {
    async loginUser() {
      this.$store.dispatch("login", {
        email: this.email,
        password: this.password,
      });
      this.Loading = true;
      this.password = "";
      this.email = "";
    },

    socialLogin() {},
  },
};
</script>

<style>
#login {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
