<template lang="">
  <div>
    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        <h2>Reset Password</h2>
        <div v-if="!showSuccess">
          <p>enter your Email Address</p>
          <form @submit.prevent>
            <div class="mb-3">
              <input
                v-model.trim="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Address"
                required
              />
            </div>

            <button @click="resetPassword()" class="btn btn-primary w-100" :disabled="!email">
              Submit
            </button>
          </form>
        </div>
        <div v-else>
          <h4>
            Success! check your email for password reset link
          </h4>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</template>
<script>
import { auth } from "../../firebase";
export default {
  data() {
    return {
      email: "",
      showSuccess: false,
    };
  },
  methods: {
    async resetPassword() {
      try {
        await auth.sendPasswordResetEmail(this.email);
        this.showSuccess = true;
      } catch (error) {
        window.alert(
          "There is no user record corresponding to this identifier. The user may have been deleted"
        );
      }
    },
  },
};
</script>
<style lang=""></style>
