<template lang="">
  <div id="register">
    <h2>Register</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form @submit.prevent>
            <!-- User name -->
            <div class="mb-3">
              <input
                v-model.trim="signupForm.name"
                type="text"
                class="form-control"
                id="nameInput"
                aria-describedby="nameHelp"
                placeholder="First name"
                style="width:100%; height:50px"
                required
              />
            </div>

            <div class="mb-3 d-none">
              <textarea
                v-model.trim="signupForm.about"
                type="text"
                class="form-control"
                id="titleInput"
                aria-describedby="nameHelp"
                placeholder="About you"
                style="width:100%; height:100px"
                required
              />
            </div>
            <!-- facebook handle -->
            <div class="mb-3 d-none">
              <input
                v-model.trim="signupForm.facebook"
                type="text"
                class="form-control"
                id="facebookInput"
                aria-describedby="nameHelp"
                placeholder="Facebook user name,  E.g https://www.facebook.com/david.olukwu"
                style="width:100%; height:50px"
                required
              />
            </div>
            <!-- twitter handle -->
            <div class="mb-3 d-none">
              <input
                v-model.trim="signupForm.twitter"
                type="text"
                class="form-control"
                id="twitterInput"
                aria-describedby="nameHelp"
                placeholder="Twitter handle url,  E.g https://twitter.com/kingdavidmiles"
                style="width:100%; height:50px"
                required
              />
            </div>
            <!--Email Address  -->
            <div class="mb-3">
              <input
                v-model.trim="signupForm.email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email Address"
                style="width:100%; height:50px"
                required
              />
            </div>

            <!-- Password -->
            <div class="mb-3 " style="height:100%">
              <input
                v-model.trim="signupForm.password"
                type="password"
                class="form-control "
                id="exampleInputPassword1"
                placeholder="Password"
                style="width:100%; height:50px"
                required
              />
            </div>
            <div class="row">
              <div class="col">
                <a href="/login" style="text-decoration:none">Already have an account?</a>
              </div>
            </div>
            <!--Submit button  -->

            <button
              @click="signup"
              class="btn btn-primary w-100"
              :disabled="!signupForm.name || !signupForm.email || !signupForm.password"
            >
              <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
              <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
              Register
            </button>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Register",
  data() {
    return {
      signupForm: {
        name: "",
        about: "",
        facebook: "",
        twitter: "",
        email: "",
        password: "",
      },
      Loading: false,
    };
  },
  methods: {
    signup() {
      this.$store.dispatch("signup", {
        email: this.signupForm.email,
        password: this.signupForm.password,
        name: this.signupForm.name,
        about: this.signupForm.about,
        facebook: this.signupForm.facebook,
        twitter: this.signupForm.twitter,
      });
      this.Loading = true;

      this.signupForm.name = "";
      this.signupForm.about = "";
      (this.signupForm.facebook = ""),
        (this.signupForm.twitter = ""((this.signupForm.email = ""))),
        (this.signupForm.password = "");
    },
  },
};
</script>

<style>
#register {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
