<template lang="">
  <div id="register">
    <h2 v-if="hideTextOnInputComplete">Your profile</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <transition name="fade">
            <p v-if="showSuccess" class="success">profile updated</p>
          </transition>
          <form @submit.prevent>
            <!-- User name -->
            <div class="mb-3">
              <input
                v-model.trim="updateUserProfile.name"
                type="text"
                class="form-control text-capitalize"
                id="nameInput"
                aria-describedby="nameHelp"
                :placeholder="userProfile.name"
              />
            </div>

            <!-- facebook handle -->
            <div class="mb-3 ">
              <label>Facebook user name</label>
              <input
                v-model.trim="updateUserProfile.facebook"
                type="text"
                class="form-control"
                id="facebookInput"
                aria-describedby="nameHelp"
                :placeholder="userProfile.facebook"
                style="width:100%; height:50px"
              />
            </div>
            <!-- twitter handle -->
            <div class="mb-3 ">
              <label>Twitter handle name</label>
              <textarea
                v-model.trim="updateUserProfile.twitter"
                type="text"
                class="form-control"
                id="titleInput"
                aria-describedby="nameHelp"
                :placeholder="userProfile.twitter"
                style="width:100%; height:100px"
              />
            </div>

            <div class="mb-3">
              <textarea
                v-model.trim="updateUserProfile.title"
                type="text"
                class="form-control text-capitalize"
                id="titleInput"
                aria-describedby="nameHelp"
                :placeholder="userProfile.title"
                style="width:100%; height:100px"
              />
            </div>
            <!--  -->
            <!--Submit button  -->
            <!-- :disabled="!email || !password" -->
            <button
              @click="updateProfile()"
              class="btn btn-primary w-100"
              :disabled="!updateUserProfile"
            >
              <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>
              <b-spinner v-if="Loading" type="grow" style="width: 1rem; height: 1rem;"></b-spinner>

              Update profile
            </button>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  // name: "Register",
  data() {
    return {
      updateUserProfile: {
        name: "",
        title: "",
        facebook: "",
        twitter: "",
      },
      showSuccess: false,
      hideTextOnInputComplete: true,
      Loading: false,
    };
  },
  computed: {
    ...mapState(["userProfile"]),
  },
  methods: {
    updateProfile() {
      this.$store.dispatch("updateProfile", {
        name:
          this.updateUserProfile.name != "" ? this.updateUserProfile.name : this.userProfile.name,
        title:
          this.updateUserProfile.title != ""
            ? this.updateUserProfile.title
            : this.userProfile.title,

        facebook:
          this.updateUserProfile.facebook != ""
            ? this.updateUserProfile.facebook
            : this.userProfile.facebook,

        twitter:
          this.updateUserProfile.twitter != ""
            ? this.updateUserProfile.twitter
            : this.userProfile.twitter,
      });
      this.Loading = true;
      this.hideTextOnInputComplete = false;
      this.updateUserProfile.name = "";

      this.updateUserProfile.title = "";
      this.showSuccess = true;

      this.updateUserProfile.facebook = "";
      this.showSuccess = true;

      this.updateUserProfile.twitter = "";
      this.showSuccess = true;

      setTimeout(() => {
        this.showSuccess = false;
        this.hideTextOnInputComplete = true;
        this.Loading = false;
      }, 2000);
    },
  },
};
</script>

<style>
#text {
  background-color: brown;
}
.backgd {
  background-color: aqua;
}
#register {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* opacity: 0.1; */
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
