<template>
  <div style="background-color:#f8faff">
    <HomeLayout />
    <!--  -->
    <div class="container">
      <div class="row   ">
        <div class="col-lg-7 col-md-6 col-xs-12  example example2 px-5">
          <div class="">
            <h1 class="textShowOnSmallScreens">
              Expand Your Reach by Choosing World-Class iOS App Development Services
            </h1>
            <br />
            <h5 class="text-sm-red textShowOnSmallScreens">
              Elevate Your Business with Premium iOS Applications Built Using Swift & Objective C.
            </h5>
            <br />
            <router-link to="/paraschat">
              <b-button variant="primary">Check Out Our Weekly Torah portion and holidays</b-button>
            </router-link>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 col-xs-12 ">
          <div class=" ">
            <img
              src="/image/ios.png"
              alt="image"
              class="imgforBiggerScreens imgforsmallerScreens"
            />
          </div>
        </div>
      </div>
      <br class="d-block d-lg-none d-md-none" />

      <br />
    </div>
    <slot />
    <Footer />
  </div>
</template>

<script>
import Footer from "../components/Footer.vue";
import HomeLayout from "../components/Layout/HomeLayout.vue";
import { faAddressCard } from "@fortawesome/free-solid-svg-icons";
export default {
  components: {
    Footer,
    faAddressCard,
    HomeLayout,
  },
};
</script>

<style scoped>
@media only screen and (max-width: 600px) {
  .example {
    text-align: center;
    padding-bottom: 120px;
  }
  .imgforsmallerScreens {
    width: 100%;
    padding: 10px;
  }
  .smButton {
    width: 80%;
    padding: 10px;
  }
  .textShowOnSmallScreens {
    text-align: center;
    padding: 2px;
  }
}

@media only screen and (min-width: 768px) {
  .example2 {
    padding: 50px;
    position: relative;
    top: 100px;
  }
  .imgforBiggerScreens {
    width: 100%;
    padding: 23px;
  }
  .lgButton {
    width: 50%;
    padding: 10px;
  }
}
</style>
